<!-- 演出レイヤー -->
<div
  id="animation-layer"
  class="fixed inset-0 z-50 flex items-center justify-center bg-transparent"
>
  <canvas id="particle-canvas" class="absolute inset-0"></canvas>

  <!-- 中央の光（石からは出ない） -->
  <div
    id="light-core"
    class="w-32 h-32 rounded-full opacity-0"
  ></div>
</div>
<div 
  id="stone-content"
  class="
    stone-content
    text-center
    space-y-4
    opacity-0
    transition-opacity
    duration-600"
>
  <!-- 英名 -->
  <h2
    id="stone-name-en"
    class="
      text-xl
      font-mono
      font-semibold
      tracking-wide
      mt-4
    "
  >
    <%= @stone.name_en %>
  </h2>

  <!-- 画像 -->
  <div
    class="
      stone-image-wrapper
      mx-auto
      w-48
      h-48
      overflow-hidden
      rounded-lg
      bg-gray-100
    "
  >
    <%= image_tag @stone.image_path, class: "w-full h-full object-contain", alt: "石の画像" %>
  </div>

  <!-- 和名 -->
  <p id="stone-name-ja" class="text-sm font-mono text-gray-600">
    <%= @stone.name_ja %>
  </p>

  <!-- 説明 -->
  <p id="stone-description" class="mx-auto max-w-sm px-10 text-xs font-mono text-gray-500 leading-relaxed">
    <%= @stone.description %>
  </p>

  <!-- シェアボタン -->
  <div class="stone_actions">
  <%= link_to "Xで結果を報告する",
  "https://twitter.com/intent/tweet?" +
  "text=#{ERB::Util.url_encode(@post_message)}" +
  "&url=#{ERB::Util.url_encode(request.original_url)}" +
  "&hashtags=#{ERB::Util.url_encode(@post_tags)}",
      class: "
        h-12
        overflow-hidden
        rounded
        bg-sky-200
        px-5
        py-2.5
        text-neutral-950
        transition-all
        duration-200
        hover:bg-sky-300
        hover:ring-offset-2
        active:ring-2
        active:ring-sky-800
        mt-1
      ",
      target: "_blank",
      rel: "noopener noreferrer" %>

  <!-- もどるボタン -->
  <%= link_to "もどる", root_path,
    id: "return-btn",
    class: "
      h-12
      overflow-hidden
      rounded
      bg-neutral-950
      px-5
      py-2.5
      text-white
      transition-all
      duration-200
      hover:bg-neutral-800
      hover:ring-offset-2
      active:ring-2
      active:ring-neutral-800
      mt-1
    "
  %>
</div>